body{
    margin:0;
    font-family: sans-serif;
}
.app{
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction:column;
}
.header{
    margin:20px auto;
}
.header h1{
    font-weight: bold;
}
.header select{
    font-size: 1rem;
}
.slide-box{
    background-color: #333333;
    flex:1;
    position:relative;
    overflow: hidden;
}

.slide{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center center;
    opacity:0;
    transform:scale(1);
    transition:all .9s ease-out;
}
.slide:nth-last-child(2){
    opacity:1;
    transform:scale(1.08);
}